body {
    margin: 0;
    height: 100vh;    
    background: linear-gradient(to bottom, #e3e6e7, #bed8e0);
}

nav {
    background-color: #6e7d81;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li u {
    display: block;
    color: lightblue;
    text-align: center;
    padding: 14px 16px;
}

nav ul li a:hover {
    background-color: #111;
}

div.background-image {
    float: left;
    background: url(./images/A_cartoon_image_of_a_hundred_dollar_bill.png) center;
    opacity: 0.25;
    background-size: contain;
    height: 100%;
    width: 100%;
}

.centered img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.scrollable-x {
    background-color: #333;
    border-radius: 10px;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    min-height: 400px;
}

.scrollable-y {
    background-color: #333;
    border-radius: 10px;
    overflow-y: scroll;
    padding: 10px;
    height: 400px;
    max-height: 400px;
}

label {
    font-family: 'Lato', 'Merriweather', 'Roboto', 'Open Sans';
    font-size: small;
    font-weight: 200;
}

select {
    border: 2px solid slategrey;
    border-radius: 10px;    
}

input {
    border: 2px solid slategrey;
    border-radius: 10px;
}

button {
    border: 2px solid slategrey;
    border-radius: 10px;
}

div > #asset {
    display: inline-block;
    background-color: lightgray;
    padding: 14px;
    border: 2px solid #000;
    border-radius: 10px;
    max-width: 300px;
}

div > #rollup {
    display: inline-block;
    background-color: lightgray;
    padding: 14px;
    border: 2px solid #000;
    border-radius: 10px;
    max-width: 300px;
}

div.scrollable-x > .asset {
    display: inline-block;
    background-color: white;
    padding: 14px;
    border: 2px solid #000;
    border-radius: 10px;
    max-width: 300px;
}

div.scrollable-y > .fund-transfer {
    display: block;
    background-color: white;
    padding: 14px;
    border: 2px solid #000;
    border-radius: 10px;
    max-width: 300px;
    height: 130px;
}

.width-full {
    width: 100%;
}

.invisible {
    visibility: hidden;
}

* {
    box-sizing: border-box;
}

.row {
    padding: 4px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 4px;
}

.left, .right {
    width: 20%;
}

.middle {
    width: 60%;
}

/*
.common-margin {
    margin: 3px;
}
*/

.tabs {
    overflow: hidden;
    /*
    height: 24px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #f1f1f1;
    */
}

.tab {
    background-color: inherit;
    float: left;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    outline: none;
    width: 25%;
    text-align: center;
    padding: 4px;
}

.tab-reports {
    background-color: lightgrey;
    float: left;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    outline: none;
    width: 25%;
    text-align: center;
    padding: 4px;
}

.tab.active {
    background-color: #ccc;
}

.tab:hover {
    background-color: #ddd;
}

.tabs::after {
    clear: both;
}

div#reports {
    overflow: auto;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.card-chart-color {
    float: right;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.card-chart-color:hover {
    border: 3px solid whitesmoke;    
}

.selected-card-chart {
    border: 3px solid whitesmoke;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 600px;
    overflow: auto;
    background-color: inherit;
}

.popup-content {
    background: linear-gradient(to bottom, #e3e6e7, #bed8e0);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    height: 600px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.closeBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.closeBtn:hover,
.closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}